[Unit]
Description=can-telem-cloud CAN telemetry service
After=network-online.target ModemManager.service can0.service
Wants=network-online.target ModemManager.service can0.service can-telem-gnss.service
RequiresMountsFor=/mnt/usb

[Service]
Type=simple
WorkingDirectory=/home/sunpi/can-telem-cloud
ExecStart=/home/sunpi/can-telem-cloud/can_telem -c /home/sunpi/can-telem-cloud/can_telem.conf
Restart=always
RestartSec=2
TimeoutStopSec=5
User=root
Group=root
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
